@tailwind base;

@tailwind components;

@tailwind utilities;

@media (max-width: 400px) {
  .icon-link-label {
    max-width: 18ch;
  }
}

.icon-link::after {
  @apply border-current border-b;
  content: '';
  position: absolute;
  bottom: .275em;
  width: -webkit-fill-available;
  margin-right: .75em
}


body {
	@apply font-body;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-display;
}

.nav {
  @apply text-primary-500 dark:text-primary-200
}

.background-box {
  @apply bg-transparent;
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube-video iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sekund-content .sekund-header,
.sekund-content p,
.sekund-content h1,
.sekund-content h2,
.sekund-content h3,
.sekund-content h4,
.sekund-content h5,
.sekund-content h6 {
  @apply px-4 sm:px-6 lg:px-8
}

.sekund-header h1, .sekund-header h2 {
  padding-left: 0;
}

.sekund-content ol, blockquote {
  @apply mx-auto border-none
}


.building {
  background-image: linear-gradient(135deg, #d55268 25%, #e6ccce 25%, #e6ccce 50%, #d55268 50%, #d55268 75%, #e6ccce 75%, #e6ccce 100%);
  background-size: 14.14px 14.14px;
}

.quote {
  @apply leading-tight;
  color: var(--tw-prose-headings);
  width: 65%;
  padding: 0.5rem 1rem 0rem 0;
  font-family: 'Philosopher';
  font-size: 125%;
  float: left;
  display: block;
  margin-left: -.33rem;
}
.quote::before {
  content: '“';
}
.quote::after {
  content: '”';
}

.quote.right {
  float: right;
  margin-right: -.33rem;
  padding: 0.5rem 0rem 0rem 1rem;
  margin-left: 0.5rem;
}

@media (min-width: 1024px) {
  .quote {
    padding: 0.75rem 1rem 0rem 0;
    font-size: 150%;
    margin-left: -1.75rem;
  }
  .quote.right {
    padding: 0.75rem 0rem .5rem 0;
    font-size: 150%;
    margin-right: -1.75rem;
    margin-left: 1rem;
  }
  
}

.sekund-subtitle {
  @apply my-6 leading-tight;
  font-family: 'Philosopher';
  font-size: 130%;
}

.sekund-note {
  @apply bg-gray-500 rounded-lg text-gray-700 mb-8 text-sm mx-4 leading-tight;
  padding: 1rem;
}

.sekund-content > div > p:first-of-type::first-letter {
  padding: 0 .2rem;
  margin: 0 .2rem 0 0;
  font-size: 4rem;
  float: left;
  line-height: 1;
}

.sekund-insert {
  @apply mx-4 sm:mx-6 lg:mx-8 p-4 leading-snug;
  border: 1px solid;
  display: block;
}

.sekund-insert-caption {
  display: inline-block;
  margin-top: 1rem;
  font-size: 85%;
}

.sekund-insert img {
  margin: 0
}

.sekund-insert p {
  margin: 0;
  padding: 0;
}

.sekund-insert.center {
  float: none;
  line-height: 2rem;
}

@media (min-width: 1024px) {
  .sekund-insert {
    @apply flex flex-col space-y-2;
    float: left;
    width: 50%;
    border: 1px solid;
    padding: 1rem;
    display: block;
  }

  .sekund-insert.right {
    float: right;
    margin-left: 1rem;
  }

  .sekund-insert.center {
    float: none;
    margin: 0;
    width: 100%;
  }

}

.sekund-insert .icon-link::after {
  all: initial;
}

.sekund-insert p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}